In [5]:
from google.colab import drive

drive.mount("/content/gdrive", force_remount=True)

# Import necessary library
import pandas as pd

# Load data from the "data_140ds_salaries_02.csv" file
df = pd.read_csv("/content/gdrive/MyDrive/Datasets/data_140ds_salaries_02.csv")

# Create a new dataframe with only the relevant columns
new_df = df[['experience_level', 'job_title', 'salary_in_usd', 'company_location']].copy()

# Convrt the 'salary_in_usd' column to numeric if it is not already
new_df['salary_in_usd'] = pd.to_numeric(new_df['salary_in_usd'], errors='coerce')

# Group the dataframe by the experience level and company location, and calculate the average salary for each group
grouped_df = new_df.groupby(['experience_level', 'company_location']).agg({'salary_in_usd': 'mean'})

# Reset the index of the grouped dataframe
grouped_df = grouped_df.reset_index()

# Create a new dataframe that shows the average salary depending on the experience level and company location
avg_salary_df = grouped_df[['experience_level', 'company_location', 'salary_in_usd']]

# Print the new dataframe
print(avg_salary_df)

Mounted at /content/gdrive
   experience_level company_location  salary_in_usd
0                EN               ES       225200.0
1                EN               IN       350000.0
2                EN               US       172525.0
3                MI               DE        78945.0
4                MI               ES        76649.5
5                MI               IN       174000.0
6                MI               NL       106578.0
7                MI               US       188000.0
8                SE               ES       195900.0
9                SE               IN       143700.0
10               SE               US       164646.2